@import url('https://fonts.googleapis.com/css2?family=K2D:wght@300;800&family=Kanit:wght@400;500&display=swap');

/* design system */

:root {
    --gray-1: #333333;
    --gray-6: #F2F2F2;
    --gray-square: #D9D9D9;
    --blue-primary: #6C40E9;
    --blue-secondary: #28103E;
    --light-green: #CFFF11;
    --white: #fff;
    --yellow: #F2C94C;
    --yellow-light: #E9CE40;

    --h1: 4rem; /* 64px */
    --h2: 3.5rem; /* 56px */
    --h3: 3rem;  /* 48px */
    --h4: 2.5rem; /* 40px */
    --h5: 2rem; /* 32px */
}

/* scrollbar config */

::-webkit-scrollbar {
    width: 4px;
  }
  
::-webkit-scrollbar-track {
    background: hidden;
}

::-webkit-scrollbar-thumb {
    background: var(--blue-primary);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--blue-secondary);
}

/* config geral */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Kanit', sans-serif;
    font-size: 1rem;
    color: var(--gray-1);
}

/* navbar */

.navbar {
    padding-block-start: 1.5rem;
}

.container-fluid {
    padding: 0;
}

.navbar-brand {
    align-items: center;
    transition: all 0.2s ease 0s;
}

.navbar-brand:hover h5 {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    transition: all 0.4s ease 0s;
}

.brand-container {
    gap: 0 !important;
}

.brand-container > h5 {
    margin: 0;
    color: var(--white);
}

.brand-container > h5:first-child {
    font-family: 'K2D', sans-serif;
    font-size: var(--h5);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.brand-container > h5:last-child {
    font-family: inherit;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 10.86px;
}

.nav-link {
    color: var(--white);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.nav-link.active,
.nav-link:hover {
    border-bottom: 1px solid var(--white);
    color: var(--white);
}

.icon {
    font-size: 2rem;
}

.offcanvas {
    background: rgba(55, 49, 49, 0.57) !important;
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
    border: 1px solid rgba(55, 49, 49, 0.19);
}

.navbar-toggler {
    color: var(--gray-6);
    border: none;
    outline: none;
}

.navbar-toggler:focus{
    box-shadow: none;
}

/* hero section */

#hero {
    background-image: url(../img/hero/bg-hero.jpg);
    background-size: cover;
    min-height: 100vh;
    padding-inline: 4rem !important;

    position: relative;
    isolation: isolate;
    overflow: hidden;
}

.hero-container {
    margin-block-start: calc(4rem - 5vh);
    color: var(--white);

    width: min(53.125rem, 100%); /* 850px */
    margin-left: auto;
    margin-right: auto;
}

.titulo > h1 {
    font-family: 'K2D', sans-serif;
    font-size: clamp(3.77rem, calc(var(--h1) - 2vw), 4.5rem);
    /* font-size: var(--h1); */
    font-style: normal;
    font-weight: 800;
    margin: 0;
}

.titulo > .primary-btn {
    margin-bottom: 2rem;
}

.titulo:last-child,
.titulo:last-child > h1 {
    text-align: end;
    font-weight: 300;
}

.titulo span {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-repeat: no-repeat;
    transition: 0.5s ease-out;
}

.titulo .gradient-fade {
    background-image: 
        linear-gradient(to right, var(--blue-primary) 45%, var(--light-green) 55%);
}

.titulo:hover .gradient-fade {
    background-position: 0% 50%; 
}

.slogan {
    margin-block-end: 2rem;
}

.slogan > p {
    margin: 0;
}

.elipse-bg-1 {
    width: 300px;
    aspect-ratio: 1;
    left: 15%;
    z-index: -1;
    animation: float 6s ease-in-out infinite;
}

.elipse-bg-2 {
    width: 200px;
    aspect-ratio: 1;
    right: 250px;
    bottom: 10%;
    z-index: -1;
    animation: spin 5000ms infinite linear;
}

/* main section */

main {
    position: relative;
    overflow: hidden;
}

/* about section */

#about {
    padding-top: 5rem;
    padding-inline: 4rem;
    isolation: isolate;
}

#about > .h2 {
    text-align: center;
    translate: -150px 0;

    line-height: normal;
}

#about > .h2 > span {
    color: var(--gray-square);
}

.about-container {
    justify-content: center;
    margin-inline: auto;
    max-width: min(100%, 990px);

    gap: 0 !important;
}

.about-txt {
    gap: 0 !important;
}

.about-txt > p {
    color: var(--gray-1, #333);

    font-size: inherit;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about-img {
    flex-grow: 1;
    min-width: 60%;
    align-items: center;
    z-index: -1;

    position: relative;
}

.bg-about-colorido {
    max-width: 500px;
    translate: -40px -35%;
}


.bg-about-cinza {
    translate: -180px -160px;
    width: 300px;
}

.bg-about-moldura {
    bottom: 90px;
    translate: -50% -50%;

    width: 300px;
    z-index: 3;
}

.bg-about-square {
    top: 4rem;
    left: -300px;
    z-index: -10;
}

/* clients section */

#clients {
    margin-block-start: 2rem;
    padding-inline: 4rem;
}

.clients-img-container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    margin-block-end: 2rem;
}

.client {
    border-radius: .5rem;
    padding: .5rem;

    transition: all .3s ease-in-out;
}

.client:hover {
    scale: 1.05;
}

/* projects section */

#projects {
    background: 
        linear-gradient(180deg, #000916 0%, #070010 100%);
    min-width: 100%;

    padding: 2rem 0 4rem;

    text-align: center;
}

#projects > .h2 {
    color: var(--gray-6, #F2F2F2);
}

#projects > .arrow-btn-container {
    margin-inline-end: 4rem;
    margin-top: 2.5rem;
}

.projects-container {
    align-items: center;
    justify-content: center;
}

.project-field {
    padding: 1rem 42px;
    border: 3px inset var(--blue-secondary);
    border-radius: 20px;
    cursor: pointer;
    
    color: var(--light-green);
    background-color: var(--blue-secondary);
    backdrop-filter: blur(5.5px);
    transition: all 0.3s ease-in-out;

    font-style: normal;
    font-weight: 500;
    line-height: normal;

    place-items: center;
}

.project-field:hover {
    animation: bouncing 0.5s .3s;
    box-shadow: 
        rgba(0, 0, 0, 0.5) 20px 20px 30px;
    transform: scale(1.02);
}

.project-field:nth-of-type(1),
.project-field:nth-of-type(3) {
    translate: 0 -30px;
}

.project-field:nth-of-type(4) {
    translate: 0 10px;
}

.completed-projects-container {
    margin-block-start: 4rem;
    margin-inline: auto;

    max-width: min(100%, 25rem); /* 500px */
    justify-content: space-between;
    gap: 2rem !important;
}

.completed-project-item {
    text-align: start;
    color: var(--white);
    transition: all .3s ease-in-out;
}

.completed-project-item:hover {
    scale: 1.05;
}

.completed-project-item > span {
    font-family: 'K2D', sans-serif;
    font-size: var(--h1);
    font-style: normal;
    font-weight: 800;
    line-height: 100px;
}

.completed-project-item > p {
    font-size: inherit;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.slider-container {
    margin-block-start: 6rem;
    width: 100%;
    min-height: 28.625rem;

    gap: 0 !important;
    justify-content: stretch;
}

.slider-item {
    align-items: flex-end;
    padding: 1rem;
    gap: 0;
    width: 100%;

    transition: all .3s ease-in-out;
}

.slider-item:nth-child(1){
    background: 
        url(../img/projects/slider-1.jpg), lightgray 50% / cover no-repeat;
    background-position: center;
}

.slider-item:nth-child(2){
    background: 
        url(../img/projects/slider-2.jpg), lightgray 50% / cover no-repeat;
    background-position: center;
}

.slider-item:nth-child(3){
    background: 
        url(../img/projects/slider-3.jpg), lightgray 50% / cover no-repeat;
    background-position: center;
}

/* .slider-item:not(:hover) {
    translate: 0 10px;
    filter: saturate(.5);
} */

.slider-info {
    justify-content: space-between;
    align-items: center;
    color: var(--white);
}

.slider-info > .secondary-btn {
    font-size: 14px;
}

.slider-info > h6 {
    margin: 0;

    color: var(--white);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.6px;
}

/* testimonials section */

#testimonials {
    padding-block: 4rem;
    padding-inline: 4rem;

    background: 
        url(../img/testimonials/bg-testimonials.jpg), lightgray 50% / cover no-repeat;
    background-position: center;
}

#testimonials > h2 {
    color: var(--gray-6);
}

.cards-container {
    grid-template-columns: repeat(4, 1fr);
    margin-block-end: 3rem;
}

.testimonial-card {
    display: inline-flex;
    padding: 2rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    color: var(--gray-6);

    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
    border: 1px solid var(--gray-square);
    border-radius: 20px;
}

.quote, .name {
    margin: 0;
}

.quote {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;   
}

.name {
    color: var(--white);

    font-size: .75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* call to action section */

#call-to-action {
    padding-inline: 4rem;
    padding-block-end: 4rem;
    text-align: center;
}

#call-to-action > h4 {
    color: #4D2C6B;
    font-size: var(--h4);
    font-style: normal;
    font-weight: 500;
    line-height: 55px;
    letter-spacing: -0.32px;

    margin-block: 2.5rem;
    margin-inline: auto;
    max-width: min(100%, 600px);
}

/* footer section */

footer {
    padding: 2rem;
    background: var(--blue-secondary, #28103E);
    color: var(--gray-6);
    font-size: inherit;

    align-items: start;
    justify-content: space-between;
}

.email > h5,
.newsletter > h5 {
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.email a {
    color: var(--yellow);
    text-decoration: none;
    transition: text-decoration .3s ease-in-out;
}

.email a:hover {
    text-decoration: underline;
}

.address > h6,
.follow-us > h6 {
    color: var(--yellow-light);
}

.navigation > ul,
.follow-us > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation > ul > li  + li,
.follow-us > ul > li  + li {
    margin-block-start: 1rem;
}

.navigation a,
.follow-us a {
    color: inherit;
    text-decoration: none;
}

.navigation a:hover,
.follow-us a:hover {
    text-decoration: underline var(--yellow );
}

.newsletter > .arrow-btn img {
    max-width: 2rem;
}

.newsletter > .arrow-btn p {
    color: var(--grey-square, #D9D9D9);
    margin: 0;

    font-size: inherit;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4px;
}

.wrapper.flex{
    gap: min(1rem, 2rem + 2vw) !important;
}

/* modal */

#exampleModal{
    background: rgba(0, 0, 0, 0.59) !important;
    border: 1px solid rgba(55, 49, 49, 0.19);
    color: var(--gray-6);
}

.modal-title {
    font-family: 'K2D', sans-serif;
    font-size: var(--h5);
}

.modal-content{
    background: rgba(70, 57, 117, 0.57) !important;
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
    border: 1px solid rgba(55, 49, 49, 0.19);
}

.form-floating > .form-control {
    border-radius: 100vh;
    padding-inline: 2z  rem !important;
    background-color: var(--blue-secondary);
}

.form-floating > label {
    margin-inline-start: 2z rem;
    background-color: transparent;
}


/* utility classes */

.flex {
    display: flex;
    gap: 1rem;
}

.collumn{
    flex-direction: column;
}

.grid {
    display: grid;
    gap: 1rem;
}

.absolute {
    position: absolute;
}

.icon-container {
    align-items: center;
    justify-content: center;
}

.h2 {
    font-family: inherit;
    font-size: var(--h2);
    font-style: normal;
    font-weight: 500;
    line-height: 100px;

    color: var(--gray-1);
    
    margin-block-end: 2rem;
}

.button {
    display: inline-flex;
    align-items: center;
    transition: all .3s ease-in-out;
    border-radius: 100vh;
}

.primary-btn {
    padding: .5rem 2rem;
    gap: 24px;
    border-radius: 100vh;
    transition: all .3s ease-in-out;

    background-color: var(--blue-primary);
    border: 3px solid var(--blue-primary);
    color: var(--white);

    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: .5ch;
}

.primary-btn:hover {
    background-color: var(--white);
    color: var(--gray-1);
    border: 3px solid var(--blue-primary);
}

.secondary-btn {
    display: inline-flex;
    padding: .5rem 2rem;
    align-items: center;
    gap: 24px;
    border-radius: 100vh;
    transition: all .3s ease-in-out;

    background-color: transparent;
    border: 2px solid var(--white);
    color: var(--white);

    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: .5ch;
}

.secondary-btn:hover {
    background-color: var(--blue-secondary);
    color: var(--white);
    border: 2px solid var(--blue-secondary);
}

.arrow-btn-container {
    justify-content: flex-end;
    align-items: center;
}

.arrow-btn {
    border: 1px solid var(--white);
    padding: .5rem 2rem;

    color: var(--white);
    background-color: transparent;
    transition: all .3s ease-in-out;
}

.arrow-btn:hover {
    border: 1px solid #F5F5F5;
    background: rgba(242, 242, 242, 0.46);
    backdrop-filter: blur(4.5px);
}

.arrow-btn > img {
    max-width: 2rem;
}


/* keyframes / efeitos  */

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}

.reveal.active{
    transform: translateY(0);
    opacity: 1;
}

.fade-in {
    animation: fadeIn 2s;
}

.gradient-fade {
    background-size: 220% 100%;
    background-position: 100% 50%;

    /* color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-repeat: no-repeat;
    transition: 0.5s ease-out; 
    no elemento */

    /* background-image: 
        linear-gradient(to right, var(--blue-primary) 45%, var(--light-green) 55%); 
        cor elemento */

    /* background-position: 0% 50%;
    hover  */
}

.h2 {
    color: transparent !important;
    -webkit-background-clip: text;
    background-clip: text;
    background-repeat: no-repeat;
    transition: 0.5s ease-out; 
}

.h2.gradient-fade {
    background-image: 
        linear-gradient(to right, var(--blue-primary) 45%, var(--gray-1) 55%); 
}

.h2.gradient-fade:hover {
    background-position: 0% 50%;
}

#projects > .h2.gradient-fade,
#testimonials > .h2.gradient-fade {
    background-image: 
        linear-gradient(to right, var(--blue-primary) 45%, var(--gray-6) 55%);
}

#projects > .h2.gradient-fade:hover,
#testimonials > .h2.gradient-fade:hover {
    background-position: 0% 50%;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes bouncing {
    from, to { transform: scale(1, 1); }
    25% { transform: scale(0.9, 1.1); }
    50% { transform: scale(1.1, 0.9); }
    75% { transform: scale(0.95, 1.05); }
}

@keyframes spin {
    from {
        scale: 1;
        transform:rotate(0deg);
    }
    50% {
        scale: 1.1;
        transform:rotate(180deg);
    }
    to {
        scale: 1;
        transform:rotate(360deg);
    }
}


@media only screen and (max-width: 61.875rem) { /* 990px */
    /* geral */
    h1 {
        font-size: 2.25rem !important;
    }

    h2 {
        font-size: 2rem !important;
    }

    #hero,
    #about,
    #clients,
    #testimonials,
    #call-to-action,
    footer {
        padding-inline: 1rem !important;
    }

    /* navbar */
    .logo {
        width: 41px;
        height: 39px;
    }

    .navbar-brand > .brand-container {
        display: none;
    }

    /* hero section */
    .hero-container {
        width: min(37.5rem, 100%); /* 400px */
        margin-block-start: 4rem;
    }

    .titulo {
        height: 100%;
        justify-content: center;
    }

    .titulo > h1 {
        font-size: 2.25rem;
    }

    .titulo > .primary-btn {
        margin-bottom: 1rem;
        margin-top: calc(3.5rem + 2vh);
    }

    .slogan > p {
        margin-block-end: 2rem;
    }

    .elipse-bg-1 {
        max-width:  min(100%, 158px);
    }

    .elipse-bg-2 {
        max-width: min(100%, 106px);
        right: -10%;
        bottom: 200px;

    }

    /* about section */
    #about {
        padding-block-start: 2rem;
    }

    #about > .h2 {
        text-align: start;
        translate: 0 0;
    }

    #about > .h2 > span {
        color: inherit;
    }

    .about-container {
        flex-direction: column-reverse;
    }

    .about-img {
        max-width: 100%;
    }

    .bg-about-colorido {
        max-width: min(100%, 500px);
        translate: 0 0;
        margin-bottom: 2rem;
    }

    .bg-about-cinza,
    .bg-about-moldura {
        display: none;
    }

    .bg-about-square {
        top: 2rem;
        max-height: 40rem;
    }

    /* clients section */
    #clients > .h2 {
        text-align: center;
        line-height: normal;
    }

    /* projects section */
    #projects > .arrow-btn-container {
        margin-inline-end: 0;
    }

    .projects-container {
        flex-direction: column;
        gap: .5rem;
    }

    .project-field.project-field:nth-of-type(1),
    .project-field.project-field:nth-of-type(3),
    .project-field.project-field:nth-of-type(4) {
        translate: 0 0;
    }

    .completed-projects-container {
        display: block;
    }

    .completed-project-item {
        display: grid;
        place-items: center;
    }

    .slider-item:nth-child(1) {
        width: 100%;
    }

    .slider-item:nth-child(2),
    .slider-item:nth-child(3) {
        display: none;
    }

    .slider-info {
        flex-direction: column-reverse;
        align-items: start;
    }

    /* testimonials section */
    #testimonials > h2 {
        text-align: center;
    }

    .cards-container {
        max-width: min(100%, 600px);
        grid-template-columns: 1fr;
        justify-items: center;
        margin-inline: auto;

        position: relative;
    }

    .testimonial-card {
        max-width: min(100%, 300px);
    }

    .testimonial-card:nth-child(2),
    .testimonial-card:nth-child(3),
    .testimonial-card:nth-child(4) {
        display: none;
    }

    .quote {
        font-size: inherit;
    }

    .name {
        font-size: .75rem;
    }

    /* call to action section */
    #call-to-action > h4 {
        font-size: 2rem;
    }

    /* footer section */
    footer{
        flex-direction: column;
        gap: 2rem;
        padding: 2.5rem .5rem;
    }

    .email, 
    .address {
        text-align: center;
        width: 100%;
    }

    .wrapper {
        min-width: 100% !important;
        grid-template-columns: repeat(2, 1fr);
        align-items: start;
        justify-items: center;
    }

    .newsletter {
        display: none;
    }

    /* utility classes */

    .primary-btn {
        font-size: inherit;
        letter-spacing: 3.68px;
    }

    .arrow-btn-container {
        justify-content: center;
    }

    .h2 {
        margin-block-end: 2rem;
        line-height: normal;
    }
}